@charset "utf-8";

body{
    background: url("../img/super.jpg");
}


.grid{

    display: grid;
    height:97vh;
    gap: 2em;
    grid-template-columns: repeat(4,15%);
    grid-template-rows:repeat(3,30%)  ;
    align-items: stretch;
    align-content: center;
    justify-content: center;

}

img {
    background :rgb(76, 230, 115);
    padding: 0.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    jus
}

img:hover{
    
    border: 2px solid #f1c40f;
    
}

.vegeta{
    grid-row: 1/3;
}

.trons{
    
}

.goku {
    grid-column: 3/5;
}
.freezer{
    grid-row: 2/4;
    align-items: center;
}

.wiss{
    grid-column: 3/5;
}